<div class="container">

  <video *ngIf="url" controls width="200" autoplay>
    <source [src]="url">
  </video>

  <button type="button"
          mat-raised-button
          color="primary"
          (click)="fileInput.click()">Wybierz plik video</button>

  <button type="button"
          mat-raised-button
          color="warn"
          (click)="onSubmit()"
  >Wyślij</button>

  <input hidden
         #fileInput
         type="file"
         (change)="onFileSelected($event.target.files)"
         placeholder="Wyślij plik video"
         accept=".mkv">

  <!--<pre>-->
  <!--  {{ file?.name | json }}-->
  <!--</pre>-->

</div>
