<div class="container">
  <video [src]="url" *ngIf="url" width="100%" controls></video> <br />

  <button type="button"
          mat-raised-button
          color="primary"
          (click)="fileInput.click()">Wybierz plik video</button>

  <button type="button"
          mat-raised-button
          color="warn"
          (click)="onSubmit()"
  >Wyślij</button>

  <input hidden
         #fileInput
         type="file"
         (change)="onFileSelected($event.target.files)"
         placeholder="Wyślij plik video"
         accept=".mp4">

</div>
