
<mat-divider></mat-divider>

<div class="container">
  <div class="video">
<!--    <video poster="/assets/placeholder.png" height="100" [volume]="0.0" autoplay></video> <br />-->
    <video src="https://codenightmovies.blob.core.windows.net/movies/{{videoName}}" height="100" [volume]="0.0"></video> <br />
  </div>
  <div class="desc">
    <h2>{{ videoName }}</h2>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="showStats()"> Pokaż statystyki </button>
    <a href="https://codenightmovies.blob.core.windows.net/movies/{{videoName}}"><button mat-raised-button color="accent" > Pobierz nagranie </button></a>

    <button mat-raised-button color="warn"> Usuń nagranie </button>
  </div>
</div>

<mat-divider></mat-divider>
