.container
  padding: 2vh 2vw
  background-color: rgb(246, 247, 249)
  display: flex
  flex-direction: column
  max-width: 300px
  margin: auto auto
  h1
    text-align: center

  .password-container > *
    width: 100%
  .button-register
    color: #ffff00

