<div class="container">
  <div class="input-container">
    <select class="custom-select" id="cars" name="cars">
      <option value="volvo">Dobra maseczka</option>
      <option value="saab">Zla maseczka</option>
      <option value="fiat">Czlowiek tylem</option>
      <option value="audi">Auto</option>
      <option value="audi">Rower</option>
    </select>
  </div>
  <div class="blob-container">
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
    <div class="blob"></div>
  </div>
</div>
