
#logo
  text-align: center
#navLinks
  margin-bottom: 1em
  a
    font-size: 1.5em
    border-bottom: 1px solid #666666
    border-radius: 0
    margin-left: 1em
header
  background-color: #f6f7f9
  max-height: 20%
  *
    z-index: 99999
