<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header id="logo">
  <h1> Inviligation App </h1>
</header>
<pre>
  {{ tokenService.getUser() | json }}
</pre>

<nav id="navLinks">
  <button routerLink="" mat-fab color="warn" aria-label="Strona Główna">
    <mat-icon>home</mat-icon>
  </button>
  <a mat-button color="warn" routerLink="login" *ngIf="!tokenService.getUser()">Logowanie</a>
  <a mat-button color="warn" routerLink="register" *ngIf="!tokenService.getUser()">Rejestracja</a>
  <a mat-button color="warn" (click)="tokenService.signOut()" *ngIf="tokenService.getUser()">Wyloguj</a>
</nav>

<router-outlet></router-outlet>
