<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header id="logo">
  <h1> Inviligation App </h1>
</header>

<nav id="navLinks">
  <button routerLink="" mat-fab color="warn" aria-label="Strona Główna">
    <mat-icon>home</mat-icon>
  </button>
  <a mat-button color="warn" routerLink="login">Logowanie</a>
  <a mat-button color="warn" routerLink="register">Rejestracja</a>
</nav>

<router-outlet></router-outlet>
