
<div class="modal-header">
  <h4 class="modal-title"> {{ videoName }} </h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <h2>{{ status }}</h2>
  <div class="mychart" [chart]="chartPeople"></div>
  <div class="mychart" [chart]="chartVehicles"></div>


<!--  <pre>-->
<!--    {{ data | json }}-->
<!--  </pre>-->

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Zamknij</button>
</div>
